* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,
h2 {
	text-decoration: underline;
}

a {
	color: inherit;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
	color: black;
	background-color: #8baaad;
}

nav {
	height: 10vh;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #1c3738;
	top: 1px;
	position: sticky;
}
.menu {
	display: flex;
	padding-bottom: 0.5rem;
}
.menu a {
	margin: 0 1rem;
	padding: 0.5rem;
	height: 25%;
	border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #000f08;
	}
}
